
#header{
    margin: 0px;
    box-shadow: 0px 1px 0px 0px #00000029;
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#headerchild{
    width: 100%;
    margin: 3% 0% 0% 0% ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#nordic{
    font-size: clamp(2rem , 4vw,15rem);
    font-weight: 20;
}
.blog{
    font-family: New York Small;
    font-size: clamp(0.82rem , 1.5vw,15rem);
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.12em;
    text-align: center;
    margin-top: 1.2%;
}
#heading1{
   


    width: 100%;                                        
    margin: 4% 0% 0% 0% ;
    font-family: New York Extra Large;
    font-size: 54px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
  
}
#heading2{
    width: 100%;
    margin: 2% 0% 0% 0%;
    font-family: SF Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
}
img{
    width: 100%;
    margin-top: 4%;
}
#border{
    border: 2px solid #000000;
    width: 45%;
    margin: 4% 27.5% 0% 27.5%;

}
#maskgroup{
    width: 56px;
    height: 56px;
    margin: 3% 2% 5% 2%;
}
#elipse2{
    background: #C4C4C4;
    width: 56px;
    height:56px ;
    clip-path: ellipse();
}
#group55{
    width:191px;
    margin: 3% 5% 5% 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

   
}
#nametext{
    font-family: SF Pro Text;
    font-size: 100%;
    font-weight: 700;
    line-height: 19.09px;
    letter-spacing: 0.05em;
    text-align: left;
    width: 100%;
}
#datetext{
font-family: SF Pro Text;
font-size: 100%;
font-weight: 400;
line-height: 19.09px;
text-align: left;
width: 100%;
}
#images{
    width: 45%;
    margin: 0% 27.5% 0% 27.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.group4{
     width: 144px;  
    height: 44px; 
    border-radius: 4px ;
    border: 1px ;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #00000014;
    border: 1px solid #EAEAEA;
    margin: 3% 4% 4% 18%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.line4{
    border: 1px solid #EAEAEA;
    width: 44px;
    height: 0px;
    border: 1px 0px 0px 0px;
    rotate: 90deg;

}
#pera1{
    font-family: New York Medium;
    font-size:20px ;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    width: 45%;
    margin: 5% 0% 0% 27%;
}
#heading3{
    font-family: SF Pro Display;
    font-size: 31px;
    font-weight: 700;
    line-height: 51.2px;
    text-align: left;
    margin: 5% 3% 0% 27%;}

#pera2{
    font-family: New York Medium;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    width: 45%;
    margin: 2% 29% 0% 27%;
}
#Rectangle8{
    width: 60%;
    margin: 4% 0% 0% 20%;
}
#imgtext{
    font-family: SF Pro Text;      
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: center;
    width: 30%;
    margin: 0% 34% 0% 34%;
}
.pera3{
    font-family: New York Medium;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: left; 
    margin: 5% 28% 0% 28%;
}

#list{
    font-family: New York Medium;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    margin: 5% 28% 0% 28%;
}
.rectangle34{
    width: 6px;
    height: 6px;  
    rotate: -45deg;
    background-color: #000000;
    margin: 0% 1% 0% 0%; 
}
#listdata{
    width: 50%;
    margin:3% 28% 0% 28% ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* height: 80px; */
}
.item1{
    margin: 0% 28% 0% 28%;
    font-family: New York Medium;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}
.listitem{
    font-family: New York Medium;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    margin: 0% 0% 0% 1.3%;
   
}
.listdata{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 28%;
    margin-top: 2.3%;
    margin-right: 10% ;
}
.group5{
    width: 50%;  
    height: clamp(0.4rem,4vw,6rem); 
    border-radius: 4px ;
    border: 1px ;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #00000014;
    border: 1px solid #EAEAEA;
    margin: 8% 28% 0% 28%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.fb2{

}
.line5{
    border: 1px solid #EAEAEA;
    width: 7.8%;
    height: 0%;
    border: 1px 0px 0px 0px;
    rotate: 90deg;
}